# python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ruff_cache/
*.egg-info/
.dist-info/
.venv/
venv/
build/

# nix
result
.direnv/
.envrc

# build / temp artifacts
*.qcow2
test_bin/

# editor
.DS_Store
*.swp
*.swo
